.Banner {
    color: white;
    max-height: 800px;
    text-align: center;
    margin: 100px 0;
    
}

.Banner__epigraph{
    margin: 0;
    font-size: 36px;
}

.Banner__title{
    margin: 0;
    font-size: 100px;
    text-transform: uppercase;
}

.Banner__button{
    margin: 40px 0 0 0;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    background: transparent;
    border: 3px solid white;
    border-radius: 5px;
    appearance: none;
    padding: 20px 76px;
    cursor: pointer;
}

.Banner__text{
    margin-top: 40px;
    font-size: 14px;
    text-transform: uppercase;
}